<link rel="stylesheet" type="text/css" href="/vendor/choices.js/assets/styles/css/choices.min.css"/>
<link rel="stylesheet" href="/assets/css/style.css"/>
<script src="/vendor/choices.js/assets/scripts/dist/choices.min.js"></script>
<style>
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}
.choices{
    width: 100%;
}
.choices__list--multiple .choices__item{
    border-radius: 3px;
}
.progressBox{
    width: 400px;
    height: 40px;
    background: #ddd;
}
.progress{
    height: 40px;
    background: green;
}
</style>
<!-- <pre-loader ng-hide="blogs"></pre-loader> -->
<div class="page animated fadeIn mainPage">
    <nav-bar active="profile"></nav-bar>
    <br/>
    <br/>
    <br/>
    <div style="width: 30%;padding:20px 0;position: relative;z-index: 30000;">
        <select multiple class="tag-choice"></select>
    </div>
    <div>
        Upload Image From Computer
        <form name="uploadImgForm">
            <button class="button" ngf-select ng-model="coverImage" name="coverImage" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"  ngf-capture="'camera'">
                <!-- ngf-dimensions="$width > 1000 || $height > 400" -->
                Select
            </button>
            <!-- ngf-resize="{width: 100, height: 100}" -->
            Drop files:
            <div ngf-drop ng-model="coverImage" class="drop-box">Drop</div>
            <button type="submit" ng-click="uploadImg()">submit</button>
        </form>
        <div class="progressBox" style="width: 300px;">
            <div class="progress" style="width: {{ progress }}%"></div>
        </div>
        Image thumbnail:
        <!-- <img ngf-thumbnail="coverImage || '/assets/img/coverImg/hero.jpg'"/> -->
        <div class="" style="width: 268px;height: 185px;background: url('{{ coverImage.$ngfBlobUrl }}');background-position: center;background-size: cover;"></div>
    </div>
    <div>
        Upload Image From Url
        <form name="uploadUrlForm">
            <input type="text" placeholder="url" ng-model="fileUrl"/>
            <input type="text" placeholder="name" ng-model="fileName"/>
            <button type="submit" ng-click="uploadUrl()">submit</button>
        </form>
        Image thumbnail:
        <div class="" style="width: 268px;height: 185px;background: url('http://{{ fileUrl }}');background-position: center;background-size: cover;"></div>
    </div>
    <div>
        Add New Tag
        <form name="addTagForm" ng-submit="addTag(addTagForm);">
            <input type="text" placeholder="Enter Name" ng-model="newTag.name" required>
            Select Category : 
            <label><input type="radio" value="frontend" name="tagCategory" required ng-model="newTag.category">frontend</label>
            <label><input type="radio" value="backend" name="tagCategory" required ng-model="newTag.category">backend</label>
            <label><input type="radio" value="design" name="tagCategory" required ng-model="newTag.category">design</label>
            <label><input type="radio" value="technical" name="tagCategory" required ng-model="newTag.category">technical</label>
            <button type="submit">submit</button>
        </form>
    </div>
</div>
