<link rel="stylesheet" type="text/css" href="/vendor/choices.js/assets/styles/css/choices.min.css"/>
<pre-loader ng-hide="author"></pre-loader>
<!-- Custom CSS-->
<link rel="stylesheet" href="/assets/css/style.css"/>
<script src="/vendor/simplemde/dist/simplemde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/vendor/simplemde/dist/simplemde.min.css"/>
<script src="/vendor/highlight/highlight.pack.js" type="text/javascript" charset="utf-8" async defer></script>
<link rel="stylesheet" href="/vendor/highlight/styles/default.css"/>
<script src="/vendor/choices.js/assets/scripts/dist/choices.min.js"></script>
<link type="text/css" rel="stylesheet" href="/vendor/carousel/css/carousel.css"/>
<script type="text/javascript" src="/vendor/carousel/js/carousel.js"></script>
<link type="text/css" rel="stylesheet" href="/views/blogs/createBlog/createBlog.css"/>
<div class="page animated fadeIn" ng-cloak ng-show="author" id="mainPage">
    <nav-bar active="create"></nav-bar>
    <div info="author" class="hero-banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/assets/img/coverImg/{{ blog.coverImg }}')">
        <div class="topic">
            <img ng-src="/assets/img/userImg/{{ author.image }}" class="author-pic sm-hide"/>
            <p>
                <span class="author-name">
                    {{ author.name }}
                </span>
                <br/>
                on
            </p>
            <h3 class="blog-title" contenteditable="true" ng-bind="blog.title"></h3>
        </div>
        <input type="text"  placeholder="Image Name" class="image-change" ng-model="blog.coverImg"/>
        <!-- <button class="btn image-change" modal-pane modal-id="imgModal" ng-click="getTags()">
            Select Cover
        </button> -->
        <!-- <input type="file" class="image-change" placeholder=""> -->
    </div>
    <section class="container" role="blog content">
        <main class="main z-depth border animated fadeIn" style="font-size: 14px;">
        {{tagItemsLength}}
            <div class="choicesContainer">
                <div class="choicesBox">
                    <select multiple class="tag-choice"></select>
                </div>
                <div>
                    <button class="btn" ng-click="getTags()" modal-pane modal-id="imgModal" modal-condition="{{blog.tags.length > 0}}">
                    <!-- ng-show="tagItemsLength > 0" ng-href="{{tagItemsLength}}" -->
                        Select Cover
                    </button>
                </div>
            </div>
            <!-- {{selectedTags}} -->
            <textarea class="editor"></textarea>
            <textarea name="description" ng-model="blog.description" placeholder="Description" class="descriptionBox"></textarea>
            <div class="btn-container">
                <button class="btn" ng-click="saveBlog()">
                    Save
                </button>
                <button class="btn" ng-hide="postid" ng-click="uploadBlog()">
                    Upload
                </button>
                <a ng-show="postid" class="btn" ng-href="/blogs/{{ postid }}" target="_blank" style=" line-height: 16px;">
                    View Blog
                    <!-- style="color:#000;float: right;" -->
                </a>
            </div>
        </main>
        <!-- End of Main -->
        <!-- sidebar starts -->
        <aside class="sidebar sm-hide" side-bar>
            <div>
                <ad-widget></ad-widget>
                <div class="border widget-sm animated" id="user-widget"  ng-hide="endFade" ng-class="{fadeOut: startFade}">
                    <p>
                        Allow Autosaving ?
                    </p>
                    <label>
                        <input type="radio" name="saveChoice" ng-model="save.choice" value="1" ng-change="saveChoice()"/>
                        <span class="icon-radio-checked"></span>
                    </label>
                    <span style="padding-left: 18px;"></span>
                    <label>
                        <input type="radio" name="saveChoice" ng-model="save.choice" value="-1" ng-change="saveChoice()"/>
                        <span class="icon-radio-unchecked"></span>
                    </label>
                </div>
                <div class="border widget-sm" id="user-widget">
                    <p ng-hide="discardBtnClicked">
                        Do you want to Discard Blog ?
                    </p>
                    <div class="btn" ng-click="discardBlog()" ng-hide="discardBtnClicked">
                        Discard
                    </div>
                    <p ng-show="discardBtnClicked">
                        Are you Sure ?
                    </p>
                    <div class="" ng-show="discardBtnClicked">
                        <!-- hidden -->
                        <label>
                            <input type="radio" name="discardBlog" ng-model="discard" value="1" ng-change="discardBlog(1)"/>
                            <span class="icon-radio-checked"></span>
                        </label>
                        <span style="padding-left: 18px;"></span>
                        <label>
                            <input type="radio" name="discardBlog" ng-model="discard" value="-1" ng-change="discardBlog(-1)"/>
                            <span class="icon-radio-unchecked"></span>
                        </label>
                    </div>
                </div>
            </div>
        </aside>
    </section>
    <footer-bar></footer-bar>
    <div class="modal" tabindex="1" id="adModal">
        <span class="closeModal icon-cross"></span>
        <h2>
            Ads Not Coming Soon ..
        </h2>
    </div>
    <div class="modal full" tabindex="1" id="imgModal">
        <span class="closeModal icon-cross"></span>
        <div class="imageColsContainer">
            <div class="cols tagCols">
                <ul>
                    <li>
                        Select Tag
                    </li>
                    <li ng-repeat="tag in blog.tags" ng-click="chooseCoverTag(tag)">
                        {{ tag.label }}
                    </li>
                </ul>
            </div>
            <div class="cols imageCols">
                <div class="carousel-container carousel-1">
                    <div class="carousel-view">
                        <ul class="carousel-images">
                            <li ng-repeat="image in coverImages" ng-click="chooseCoverImage(image)" data-isrc="/assets/img/coverImg/{{ image }}"></li>
                        </ul>
                    </div>
                    <div class="carousel-btn-container">
                        <button class="carousel-btn" id="cprev">
                            Prev
                        </button>
                        <button class="carousel-btn" ng-click="chooseCoverImage()">
                            Choose
                        </button>
                        <button class="carousel-btn" id="cnext">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
