/*blog content styling*/

.main a{
    font-weight: 600;
    color: rgba(41, 169, 93, .67) !important;
}


.main a:hover {
    text-decoration: underline;
}
.main em {
    padding: 8px 12px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.main h1 {
    color: #555;
    font-size: 1.1em;
}

.main h1:before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid green;
    /*margin-left: -20px;*/
}

.support-image {
    padding: 20px;
    overflow-y: auto;
    width: 100%;
    text-align: center;
}

.main img {
    width: auto;
    max-height: 300px;
    object-fit: contain;
}

.main blockquote {
    font-family: 'handwriting';
    font-size: 22px;
    /*text-align: center;*/
    line-height: 40px;
}
/*
.main .pre{
    padding: 20px 30px;
    font-weight: normal;
    color: #EBE9EA;
    border-radius: 5px;
    position: relative;
    box-shadow: inset 0 -20px 80px 0px rgba(0, 0, 0, 0.2);
    background: #053140;

    overflow: auto;
    font-size: 16px;
}
*/
.main pre{
    padding: 20px 30px;
    border-radius: 2px;
    font-size: 14px;
}
.codepen {
    height: 500px;
    overflow-y: auto;
    width: 100%;
    padding-right: 40px;
}

.codepen>iframe {
    height: 100%;
    /*height: 500px;*/
    width: 100%;
    font-size: 20px !important;
}


/*blog content styling ends*/

/*Responsive Media queries */

@media screen and (max-width: 1100px) {
}

