/*blog content styling*/

.main a{
    font-weight: 600;
    color: rgba(41, 169, 93, .67) !important;
}


.main a:hover {
    text-decoration: underline;
}
.main em {
    font-size: 18px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 2px 6px;
    font-style: normal;
}

.main h1 {
    color: #555;
    font-size: 1.1em;
    font-size: 32px;
}

.main h1:before {
    content: " ";
    /*border-top: 6px solid transparent;*/
    /*border-right: 6px solid transparent;*/
    /*border-bottom: 6px solid transparent;*/
    /*border-left: 6px solid green;*/
    background: green;
    padding: 1px 3px;
    margin-right: 10px;
}

.support-image {
    padding: 20px;
    overflow-y: auto;
    width: 100%;
    text-align: center;
}

.main img {
    width: auto;
    max-height: 300px;
    object-fit: contain;
}

.main blockquote {
    font-family: 'handwriting';
    font-size: 22px;
    /*text-align: center;*/
    line-height: 40px;
}
/*
.main .pre{
    padding: 20px 30px;
    font-weight: normal;
    color: #EBE9EA;
    border-radius: 5px;
    position: relative;
    box-shadow: inset 0 -20px 80px 0px rgba(0, 0, 0, 0.2);
    background: #053140;

    overflow: auto;
    font-size: 16px;
}
*/
.main pre{
/*    
    padding: 20px 30px;
    border-radius: 2px;
    font-size: 14px;
    overflow-x: auto;
    white-space: pre-wrap;
    */
    padding: 60px 60px;
    border-radius: 2px;
    font-size: 16px;
    line-height: 1.7;
    white-space: pre-wrap;
}
.codepen {
    height: 500px;
    overflow-y: auto;
    width: 100%;
    padding-right: 40px;
}

.codepen>iframe {
    height: 100%;
    /*height: 500px;*/
    width: 100%;
    font-size: 20px !important;
}

.prettyprint{
    background: rgba(26,19,31,.91);
}
/*blog content styling ends*/

/*Responsive Media queries */

@media screen and (max-width: 1100px) {
}

