<pre-loader ng-hide="blogsLoaded != 0"></pre-loader>
<!-- Custom CSS-->
<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/landing/searchList.css"/>
<div class="page animated fadeIn mainPage" ng-cloak  ng-show="blogsLoaded == -1">
    <h1>Sorry! No Blogs For This Tag</h1>
</div>
<div class="page animated fadeIn mainPage" ng-cloak  ng-show="blogsLoaded> 0">
    <nav-bar></nav-bar>
    <div info="author" class="hero-banner" style="background-image: linear-gradient(rgba(29,33,41,0.88),rgba(29,33,41,0.88)),url('/assets/img/coverImg/hero2.jpg')"></div>
    <section class="container" role="blog content">
        <main class="main z-depth ">
            <div class="card border" ng-repeat="blog in blogs | orderBy:'-views'">
                <div class="card-img" style="background-image: url('/assets/img/coverImg/{{ blog.coverImg }}');"></div>
                <div class="card-body">
                    <h2>
                        <a ng-href="/blogs/{{ blog._id }}" ng-bind-html="trustAsHtml(blog.title)"></a>
                    </h2>
                    <div>{{ blog.description }}</div>
                    <p class="card-footer">
                        <span>
                            <strong>{{ blog.likes }}</strong>
                            likes
                        </span>
                        <span>
                            <strong>{{ blog.views }}</strong>
                            views
                        </span>
                    </p>
                </div>
            </div>
        </main>
        <!-- {{ blog.title }} -->
        <!-- End of Main -->
        <aside class="sidebar sm-hide" side-bar>
            <div info="sidebar" class="sm-hide">
                <tag-widget></tag-widget>
                <link-widget/></link-widget>
        </div>
    </aside>
</section>
<section class="posts-card border">
    <div class="preloader-box" ng-hide="postsLoaded">
        <div class="preloader"></div>
    </div>
    <div class="card-details border" ng-repeat="post in posts | orderBy : 'date'" ng-show="postsLoaded">
        <!-- sidebar starts -->
        <div class="img-container">
            <img ng-src="/assets/img/coverImg/{{ post.coverImg }} "/>
            <div class="overlay">
                <div class="caption">
                    <a ng-href="/blogs/{{ post._id }}" class="btn" target="_blank">View</a>
                </div>
            </div>
        </div>
        <p>{{ post.title }}</p>
        <span class="post-date">{{ post.date | date }}</span>
    </div>
    <!-- ng-repeat="post in posts | orderBy : 'date'" ng-show="postsLoaded" -->
</section>
<footer-bar></footer-bar>
<div class="modal" tabindex="1" id="quizModal">
    <span class="closeModal icon-cross"></span>
    <h2>Quiz Coming Soon ..</h2>
</div>
<div class="modal" tabindex="1" id="adModal">
    <span class="closeModal icon-cross"></span>
    <h2>Ads Not Coming Soon ..</h2>
</div>
</div>
