<pre-loader ng-hide="isLoaded"></pre-loader>
<link href="/assets/css/login.css" rel="stylesheet"/>
<div class="align container" ng-cloak="" ng-show="isLoaded">
    <div class="grid">
        <h1 class="text--center">
            <!-- Sign in to  -->
            Login to JStack <small></small>
        </h1>
        <br/>
        <form class="form login" name="loginForm" ng-submit="login(loginForm)" novalidate="true">
            <div class="form__field__box">
                <div class="form__field">
                    <label for="login__username">
                        <svg class="icon">
                            <use xlink:href="#user" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                        <span class="hidden">Email</span>
                    </label>
                    <input class="form__input" id="login__username" name="Email" ng-model="user.email" placeholder="Email" required type="email"/>
                </div>
                <span class="form__error" ng-show="loginForm.Email.$dirty && loginForm.Email.$error.required">Email is Required</span>
                <span class="form__error" ng-show="loginForm.Email.$dirty && loginForm.Email.$error.email">Invalid Email</span>
            </div>
            <div class="form__field__box">
                <div class="form__field">
                    <label for="login__password">
                        <svg class="icon">
                            <use xlink:href="#lock" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                        <span class="hidden">Password</span>
                    </label>
                    <input class="form__input" id="login__password" name="Password" ng-minlength="6" ng-model="user.password" placeholder="Password" required type="password"/>
                </div>
                <div style="text-align: right;padding-right: 20px;">
                    <a ng-href="/forgotPassword?email={{user.email}}" ng-show="loginForm.Email.$valid">Forgot Password ?</a>
                    <a href="/forgotPassword" ng-show="loginForm.Email.$invalid">Forgot Password ?</a>
                </div>
                <span class="form__error" ng-show="loginForm.Password.$dirty && loginForm.Password.$error.required">Password is Required</span>
                <span class="form__error" ng-show="loginForm.Password.$dirty && loginForm.Password.$error.minlength">Password must be atleast 6 characters</span>
            </div>
            <div class="form__field">
                <input class="preloaderEffect" ng-disabled="loginForm.$invalid" ng-hide="isValidating" type="submit" value="Sign In"/>
                <img alt="" class="preloaderEffect" ng-show="isValidating" src="/assets/img/preloader2.svg" style="margin: 0px;padding: 10px;"/>
            </div>
        </form>
        <p class="text--center">
            Not a member?
            <a href="/register">Sign up now</a>
            <svg class="icon">
                <use xlink:href="assets/images/icons.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </p>
    </div>
    <svg class="icons" xmlns="http://www.w3.org/2000/svg">
        <symbol id="arrow-right" viewbox="0 0 1792 1792">
            <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z"></path>
        </symbol>
        <symbol id="lock" viewbox="0 0 1792 1792">
            <path d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z"></path>
        </symbol>
        <symbol id="user" viewbox="0 0 1792 1792">
            <path d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z"></path>
        </symbol>
    </svg>
</div>